<div class="my-container">
    <h1>Accordion</h1>

    <div class="accordion" ngbAccordion [closeOthers]="true" (shown)="shownClicked()">
        <div ngbAccordionItem="panel-1" [collapsed]="true">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Panel 1</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                        <div class="mt-3 d-flex gap-2">
                            <button class="btn btn-success" (click)="openNextPanel('panel-1')">Open Next Panel</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem="panel-2">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    <span>&#9733; <b>Panel 2</b> &#9733;</span>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                        <div class="mt-3 d-flex gap-2">
                            <button class="btn btn-success" (click)="openNextPanel('panel-2')">Open Next Panel</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem="panel-3" [disabled]="false">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Panel 3</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                        <div class="mt-3 d-flex gap-2">
                            <button class="btn btn-success" (click)="openNextPanel('panel-3')">Open Next Panel</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    
</div>