<div class="container my-5 p-3">
    <h1>DOM Challenge</h1>
    <div class="apps">
        <a routerLink="/counter" routerLinkActive="active" class="app">
            <p>Counter</p>
        </a>
        <a routerLink="/dadjokes" routerLinkActive="active" class="app">
            <p>Dad Jokes</p>
        </a>
        <a routerLink="/form" routerLinkActive="active" class="app">
            <p>Form Validation</p>
        </a>
        <a routerLink="/random-user" routerLinkActive="active" class="app">
            <p>Random User</p>
        </a>
        <a routerLink="/morse-code" routerLinkActive="active" class="app">
            <p>Morse Code Translator</p>
        </a>
        <a routerLink="/dynamic-alert" routerLinkActive="active" class="app">
            <p>Dynamic Alert</p>
        </a>
        <a routerLink="/space-flight-news" routerLinkActive="active" class="app">
            <p>Space Flight News</p>
        </a>
        <a routerLink="/resizable" routerLinkActive="active" class="app">
            <p>Resizable</p>
        </a>
    </div>
</div>