<div class="container my-5 p-3">
    <h1>DOM Challenge</h1>
    <div class="apps">
        <a routerLink="/counter" routerLinkActive="active" class="app">
            <p>Counter</p>
        </a>
        <a routerLink="/dadjokes" routerLinkActive="active" class="app">
            <p>Dad Jokes</p>
        </a>
        <a routerLink="/form" routerLinkActive="active" class="app">
            <p>Form Validation</p>
        </a>
        <a routerLink="/random-user" routerLinkActive="active" class="app">
            <p>Random User</p>
        </a>
    </div>
</div>