<div class="container my-5 p-3">
    <h1>DOM Challenge</h1>
    <div class="apps">
        <a routerLink="/counter" routerLinkActive="active" class="app">
            <p>Counter</p>
        </a>
        <a routerLink="/dadjokes" routerLinkActive="active" class="app">
            <p>Dad Jokes</p>
        </a>
        <a routerLink="/form" routerLinkActive="active" class="app">
            <p>Form Validation</p>
        </a>
        <a routerLink="/random-user" routerLinkActive="active" class="app">
            <p>Random User</p>
        </a>
        <a class="app disabled"> <!--Note: routerLink="/morse-code" Currently Disabled-->
            <p>Morse Code Translator</p>
        </a>
        <a routerLink="/dynamic-alert" routerLinkActive="active" class="app">
            <p>Dynamic Alert</p>
        </a>
        <a class="app disabled"> <!--Note: routerLink="/space-flight-news" Currently Disabled-->
            <p>Space Flight News</p>
        </a>
        <a class="app disabled"> <!--Note: routerLink="/resizable" Currently Disabled-->
            <p>Resizable</p>
        </a>
        <a routerLink="/basic-calculator" routerLinkActive="active" class="app">
            <p>Basic Calulator</p>
        </a>
    </div>
</div>